@use '../../scss/'as *;



.home {
  height: 100%;
  min-height: 87vh;
  width: 100%;
  position: relative;
  margin-top: 250px;

  @include for-phone {
    position: absolute;
    margin-top: 140px;
    padding-left: 40px !important;
    padding-left: 40px !important;
    justify-content: center;
  }

  &__input {
    background-color: $gray-one !important;
    border: none !important;
    max-width: 281px;
    height: 47px;
    border-radius: 10px !important;
    margin-left: auto;
    text-align: left;
    display: inline-block !important;

    @include for-phone {
      min-width: 320px !important;
      align-items: center !important;
      margin: 0 auto !important;
    }
  }

  &__search {
    text-align: right;
    position: relative;
    margin-right: 70px;

    @include for-phone {
      align-content: center !important;
      display: inline-block !important;
    }
  }

  &__img {
    width: 30px;
    height: 30px;
    margin-inline-start: -40px !important;

    @include for-phone {
      width: 21px;
      height: 22px;
      margin-right: auto;
    }
  }

  &__icon {
    background-color: $gray-one;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
  }

  &__text {
    width: 113px;
    height: 25px;
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: $gray-fourth;
    margin-right: 8px;

    @include for-phone {
      display: none;
    }
  }

  &__notfound {
    color: $primary;
    font-family: $font-family;
    font-weight: 500;
    font-size: 32px;
    position: absolute;
    padding-top: 240px;
    margin-bottom: 120px;
    justify-self: center;
    text-align: center !important;
    margin: 0 auto !important;
    text-decoration: none;
  }

  &__more {
    color: $primary;
    font-family: $font-family;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: center !important;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: 42px;
    @include for-phone {
      margin-right: 32px;
      padding-bottom: 100px !important;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 0;

    @include for-phone {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
