@use '../../scss/' as *;

.footer {
  width: 100%;
  height: 100%;

    @include for-phone {
    bottom: 0px auto !important;
    // height: 50px;
  }
  &__line {
  width: 100%;
  height: 6px;
  background-color: $primary;
  }
  &__line2{
    width: 100%;
    height: 55px;
    background-color: $dark;
    text-align:center;
  }
  &__item1{
      margin-right: 20px;
      margin-top: 15px;
      @include for-phone{
      display: none;
      }
  }  
  &__item2{
    margin-left: 20px;
    margin-top: 15px; 
  }
}

